body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Exo2-Regular";
  src: local("Exo2-Regular"),
   url("./components/fonts/Exo2-Regular.ttf") format("truetype");
  
 }
@font-face {
  font-family: "TsukimiRounded-SemiBold";
  src: local("TsukimiRounded-SemiBold"),
     url("./components/fonts/tsukimi/TsukimiRounded-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "GreatVibes-Regular";
  src: local("GreatVibes-Regular"),
     url("./components/fonts/greatvibes/GreatVibes-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MarckScript-Regular";
  src: local("MarckScript-Regular"),
     url("./components/fonts/marck/MarckScript-Regular.ttf") format("truetype");
}